button,
.btn {
    background-color: rgb(55, 55, 55);
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s all;
    margin: 5px;
    width: fit-content;
    font-size: 16px;
}

button:hover,
.btn:hover {
    background-color: white;
    color: rgb(55, 55, 55);
    text-decoration: none;
}