button,
.btn {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding: 7px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s all;
    margin: 5px;
    width: fit-content;
    font-size: 16px;
}

button:hover,
.btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
}