.contact {
    margin: 30px auto;
}

.contact h1 {
    margin-bottom: 10px;
    text-align: start;
}

.contact form {
    border-radius: 25px;
    padding: 40px;
    padding-right: 70px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.contact form label {
    font-size: 18px;
    margin-bottom: 5px;
}

.contact form input[type=text], .contact form input[type=email], .contact form textarea {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    width: 100%;
    padding: 7px 15px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    color: white;
    transition: 0.3s box-shadow;
}

.contact form input[type=text]:hover, .contact form input[type=email]:hover, .contact form textarea:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}

.contact form button {
    margin-left: 0;
}