.intro-card {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    height: 400px;
    transition: 0.3s;
}

.logo {
    height: 100px;
    padding-top: 30px;
    align-self: center;
}