.projects {
    padding-bottom: 1vh;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 50vw;
    min-width: 300px;
    max-width: 450px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    text-align: center;
    margin: 1vw;
    padding-bottom: 20px;
    position: relative;
}

@media screen and (max-width: 800px) {
    .project {
        width: 40vh;
        display: block;
        margin: 1vh auto;
    }
}

.project img {
    display: block;
    margin: auto;
    max-width: 90%;
}

.project p {
    margin: auto 5px;
    height: fit-content;
    padding-bottom: 30px;
}

span.projectLanguage {
    font-size: 14px;
}

.project .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
}