<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="9UptaSsXexGy7FnPofQs0r24qei0P6x6ZBbwSfs0P1Y" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/jasonli0616/jasonli0616.dev/main/static/files/jl_logo.png" type="image/png">
    <title>Jason Li</title>
</head>
<body>

    <div
        data-aos="zoom-out"
        data-aos-delay="200"
        data-aos-duration="1000"
    >
        <div class="intro-card" id="intro">
            <img src="https://raw.githubusercontent.com/jasonli0616/jasonli0616.dev/main/static/files/jl_logo.png" alt="" class="logo"
                data-aos="fade-down"
                data-aos-delay="700"
            >
            <h1
                data-aos="fade-down"
                data-aos-delay="900"
            >Jason Li</h1>
            <h2
                data-aos="fade-down"
                data-aos-delay="1100"
            >High school student</h2>

            <!-- Buttons -->
            <div class="intro-btns"
                data-aos="fade-up"
                data-aos-delay="1300"
            >
                <div style="display: flex; justify-content: center;">
                    <a onclick="scrollToSection('about')" class="btn">About me</a>
                    <a onclick="scrollToSection('projects')" class="btn">Projects</a>
                </div>
                <br>
            </div>
            
            <!-- Icons -->
            <div class="icons">
                <!-- GitHub -->
                <a href="https://github.com/jasonli0616" target="_blank" data-aos="fade-up-right" data-aos-delay="1500"><i class="bi bi-github"></i></a>
                <!-- Email -->
                <a onclick="scrollToSection('contact')" data-aos="fade-up-left" data-aos-delay="1700"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </div>

    <div id="about"></div> <!-- This div is so the about button scrolls to the right position -->
    <div
        data-aos="flip-up"
        data-aos-duration="700"
        data-aos-anchor-placement="top-center"
    >
        <div class="intro-card about">
            <h1 id="about">About me</h1>
            <p>
                I am a high school student in Canada. I am fluent in Python, Node.js, and Flask. I am currently learning Java for the <a href="https://en.wikipedia.org/wiki/FIRST_Robotics_Competition" target="_blank">FRC Robotics</a> team at my school. I am experienced in Flask for web backend development, as well as Express.js. I have participated in the <a href="https://dmz.ryerson.ca/canhack/" target="_blank">CanHack hackathon</a> run by Ryerson University and Carnegie Mellon University, earning a <a href="https://ca.badgr.com/public/assertions/Gb5NH-I3QA6Z9aD8RX35qA" target="_blank">Cybersecurity award badge</a>. I have also participated in <a href="https://www.hackthefog.com" target="_blank">Hack The Cloud 2.0</a> hackathon, with my team earning <a href="https://certificate.hackthefog.com/?name=Jason%20Li&role=Sixth%20Place&type=HacktheCloud2&key=1594603192" target="_blank">6th place</a>.
            </p>

            <br>
            <div class="about-badge">
                <a href="https://github.com/jasonli0616" target="_blank">
                    <img src="https://github-readme-stats.vercel.app/api?username=jasonli0616&theme=dark&show_icons=true">
                </a>
            </div>

            <h2 style="margin-bottom: 35px;">Languages and Technologies</h2>
            <ul class="lang-list">
                {% for language in languages %}

                    {% if language.sub_lang %}
                    <ul>
                    {% endif %}

                    <li
                        data-aos="zoom-out"
                        data-aos-delay="{{ language.animation_delay }}"
                        data-aos-duration="700"
                        data-aos-anchor-placement="center-bottom"
                    >
                        {% if language.imageURL %}
                            <img src="{{ language.imageURL }}" alt="">
                        {% endif %}

                        {{ language.name }}

                        {% if not language.no_stars %}
                            {% for i in range(0, language.stars) %}<i class="bi bi-star-fill"></i>{% endfor %}{% for i in range(0, 5-language.stars) %}<i class="bi bi-star"></i>{% endfor %}
                        {% endif %}
                    </li>

                    {% if language.sub_lang %}
                    </ul>
                    {% endif %}

                {% endfor %}
            </ul>
        </div>
    </div>
    <h1 id="projects">My Projects</h1>
    <div class="projects-wrapper">

        {% for project in projects %}
            <div class="projects"
                data-aos="zoom-out-up"
                data-aos-delay="100"
                data-aos-duration="700"
            >
                <h2>{{ project.name }}</h2>
                <img src="{{ project.imageURL }}" alt="" style="max-height: 300px;"
                    data-aos="fade-down"
                    data-aos-delay="200"
                    data-aos-duration="700"
                >
                <p>
                    {{ project.description }}
                    <br>
                    <span class="project-language">
                        {% if project.languages %}
                        Made with:<br>
                        {{ project.languages }}
                        {% endif %}
                    </span>
                </p>

                <a href="{{ project.buttonURL }}" target="_blank" class="btn">View on {{ project.buttonWebsiteName }}</a>
            </div>
        {% endfor %}

    </div>

    <div class="contact-div" id="contact"
        data-aos="zoom-in"
        data-aos-duration="1000"
    >
        <form action="" method="POST">
            <h1>Contact</h1>

            <label for="name">Name <span class="required">*</span></label>
            <input type="text" name="name" id="contact-name" required>

            <label for="email">Email address <span class="required">*</span></label>
            <input type="email" name="email" id="contact-email" required>

            <label for="subject">Subject</label>
            <input type="text" name="subject" id="contact-subject">

            <label for="contact-message">Message <span class="required">*</span></label>
            <textarea name="message" id="contact-message" rows="10" required></textarea>

            <button type="submit">Send email</button>
        </form>
    </div>



    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>
                    window.alert("{{ message }}")
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script defer src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
  
</body>
</html>
