body {
    background: linear-gradient(to bottom left, rgb(17, 187, 255), rgb(81, 0, 187));
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    color: white;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-align: center;
    cursor: default;
}

h1 {
    font-size: 50px;
    margin: 0;
}

p {
    font-size: 18px;
    text-align: center;
    cursor: default;
}

a {
    color: cyan;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 500px) {
    p {
        font-size: 16px;
    }
}

.card {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    width: 70%;
    min-width: 350px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}